@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&display=swap');

body{
    font-family: 'Kay Pho Du';
    background-color: darkgray;
    text-align: center;
}

img{
    width: 500px;
}